html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #1F2937;
    color:#F9FAf8;
}

.header {
    margin: 0px 275px 100px 275px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .main {
    margin: 0px 275px 0px 275px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-text {
    width: 400px;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    display: flex;
    gap: 15px;
}

ul, a {
    color: #F9FAf8;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.sign-up {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 7px 30px 7px 30px;
    font-size: 15px;
    font-weight: bold;
    color: #F9FAf8;
    border: 0;
    margin-top: 15px;
}