body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    align-items: center;
}

.title{
    color:#F9FAf8;
    font-size: 24px;
    font-weight: bold;
}

.right-links{
    display: flex;
    gap: 15px;
}

ul, a {
    color: #F9FAf8;
    margin: 0;
    text-decoration: none;
    list-style: none;
}